body{
    height: 100vh;
    margin: 0;
}
.full-w-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #e0c390;
    background: radial-gradient(#376d08 0.8px, #e0c390 0.8px) -10px 0/ 20px 20px, linear-gradient(225deg, #f1d1a7 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #f1d1a755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #f1d1a7 25%, #F5E8D7 25%) 0px 0/ 20px 20px;
}
.table-bg {
    background-image: url(../assets/bg800_1700.png);
    width: 798px;
    height: 1696px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 20px 40px hsl(33deg 79% 15% / 20%);
}

.laptop-wrapper {
    position: absolute;
    top: 193px;
    left: 359px;
}

.laptop {
    width: 626px;
    -webkit-clip-path: polygon(85% 88%, 92% 88%, 97% 85%, 99% 82%, 95% 79%, 77% 67%, 71% 3%, 69% 1%, 2% 6%, 1% 7%, 7% 77%, 23% 95%, 25% 96%);
    clip-path: polygon(85% 88%, 92% 88%, 97% 85%, 99% 82%, 95% 79%, 77% 67%, 71% 3%, 69% 1%, 2% 6%, 1% 7%, 7% 77%, 23% 95%, 25% 96%);
}

.mic-wrapper {
    position: absolute;
    top: 127px;
    left: 158px;
}

.mic {
    width: 186px;
    -webkit-clip-path: polygon(92% 89%, 84% 86%, 77% 84%, 75% 78%, 73% 70%, 70% 66%, 66% 64%, 71% 63%, 79% 60%, 84% 56%, 86% 52%, 86% 48%, 90% 46%, 91% 42%, 86% 38%, 78% 38%, 76% 31%, 75% 22%, 71% 14%, 68% 8%, 62% 4%, 53% 2%, 44% 2%, 35% 3%, 27% 4%, 20% 6%, 17% 10%, 16% 14%, 15% 18%, 15% 22%, 16% 26%, 16% 31%, 17% 35%, 17% 39%, 10% 40%, 6% 43%, 6% 47%, 10% 50%, 13% 52%, 10% 55%, 9% 58%, 10% 62%, 11% 68%, 14% 75%, 16% 81%, 19% 86%, 15% 88%, 8% 90%, 6% 93%, 8% 97%, 18% 98%, 31% 99%, 45% 99%, 59% 99%, 73% 98%, 85% 97%, 93% 95%, 98% 94%);
    clip-path: polygon(92% 89%, 84% 86%, 77% 84%, 75% 78%, 73% 70%, 70% 66%, 66% 64%, 71% 63%, 79% 60%, 84% 56%, 86% 52%, 86% 48%, 90% 46%, 91% 42%, 86% 38%, 78% 38%, 76% 31%, 75% 22%, 71% 14%, 68% 8%, 62% 4%, 53% 2%, 44% 2%, 35% 3%, 27% 4%, 20% 6%, 17% 10%, 16% 14%, 15% 18%, 15% 22%, 16% 26%, 16% 31%, 17% 35%, 17% 39%, 10% 40%, 6% 43%, 6% 47%, 10% 50%, 13% 52%, 10% 55%, 9% 58%, 10% 62%, 11% 68%, 14% 75%, 16% 81%, 19% 86%, 15% 88%, 8% 90%, 6% 93%, 8% 97%, 18% 98%, 31% 99%, 45% 99%, 59% 99%, 73% 98%, 85% 97%, 93% 95%, 98% 94%);
}

.badge-wrapper {
    position: absolute;
    top: 526px;
    left: 710px;
}

.badge {
    width: 94px;
    -webkit-clip-path: polygon(34% 10%, 46% 9%, 56% 10%, 67% 13%, 80% 19%, 89% 28%, 93% 38%, 96% 47%, 99% 60%, 95% 72%, 89% 80%, 81% 86%, 69% 89%, 60% 91%, 47% 90%, 34% 87%, 24% 82%, 16% 76%, 8% 64%, 2% 51%, 1% 40%, 2% 29%, 7% 21%, 21% 13%);
    clip-path: polygon(34% 10%, 46% 9%, 56% 10%, 67% 13%, 80% 19%, 89% 28%, 93% 38%, 96% 47%, 99% 60%, 95% 72%, 89% 80%, 81% 86%, 69% 89%, 60% 91%, 47% 90%, 34% 87%, 24% 82%, 16% 76%, 8% 64%, 2% 51%, 1% 40%, 2% 29%, 7% 21%, 21% 13%);
}

.drink-wrapper {
    position: absolute;
    top: 181px;
    left: 870px;
}

.drink {
    width: 217px;
    -webkit-clip-path: polygon(58% 7%, 63% 23%, 63% 37%, 55% 49%, 43% 52%, 43% 58%, 55% 58%, 70% 57%, 89% 58%, 96% 61%, 97% 67%, 95% 75%, 94% 84%, 92% 91%, 82% 95%, 66% 95%, 48% 94%, 41% 91%, 30% 90%, 13% 89%, 7% 86%, 5% 82%, 12% 79%, 24% 78%, 25% 57%, 22% 49%, 10% 44%, 3% 36%, 3% 27%, 5% 19%, 7% 13%, 9% 7%, 16% 4%, 31% 4%, 46% 4%);
    clip-path: polygon(58% 7%, 63% 23%, 63% 37%, 55% 49%, 43% 52%, 43% 58%, 55% 58%, 70% 57%, 89% 58%, 96% 61%, 97% 67%, 95% 75%, 94% 84%, 92% 91%, 82% 95%, 66% 95%, 48% 94%, 41% 91%, 30% 90%, 13% 89%, 7% 86%, 5% 82%, 12% 79%, 24% 78%, 25% 57%, 22% 49%, 10% 44%, 3% 36%, 3% 27%, 5% 19%, 7% 13%, 9% 7%, 16% 4%, 31% 4%, 46% 4%);
}

.food-wrapper {
    position: absolute;
    top: 437px;
    left: 1003px;
}

.food {
    width: 241px;
    -webkit-clip-path: polygon(65% 87%, 73% 84%, 80% 83%, 90% 77%, 98% 68%, 99% 57%, 98% 52%, 95% 42%, 90% 35%, 81% 25%, 73% 17%, 67% 9%, 63% 5%, 57% 6%, 51% 9%, 46% 13%, 44% 19%, 42% 24%, 38% 24%, 33% 25%, 30% 20%, 24% 19%, 20% 25%, 14% 26%, 9% 29%, 4% 29%, 2% 26%, 1% 37%, 1% 48%, 2% 57%, 4% 66%, 11% 72%, 20% 80%, 34% 85%, 47% 89%, 56% 89%);
    clip-path: polygon(65% 87%, 73% 84%, 80% 83%, 90% 77%, 98% 68%, 99% 57%, 98% 52%, 95% 42%, 90% 35%, 81% 25%, 73% 17%, 67% 9%, 63% 5%, 57% 6%, 51% 9%, 46% 13%, 44% 19%, 42% 24%, 38% 24%, 33% 25%, 30% 20%, 24% 19%, 20% 25%, 14% 26%, 9% 29%, 4% 29%, 2% 26%, 1% 37%, 1% 48%, 2% 57%, 4% 66%, 11% 72%, 20% 80%, 34% 85%, 47% 89%, 56% 89%);
}

.note-wrapper {
    position: absolute;
    top: 545px;
    left: 159px;
}

.note {
    width: 355px;
    -webkit-clip-path: polygon(33% 18%, 38% 13%, 44% 15%, 51% 18%, 58% 20%, 65% 21%, 74% 20%, 81% 20%, 87% 20%, 89% 26%, 90% 33%, 93% 36%, 97% 39%, 99% 45%, 100% 54%, 99% 62%, 94% 68%, 85% 74%, 76% 80%, 70% 87%, 63% 90%, 57% 90%, 46% 84%, 10% 68%, 5% 64%, 2% 58%, 3% 47%, 4% 38%, 8% 31%, 14% 28%, 17% 22%);
    clip-path: polygon(33% 18%, 38% 13%, 44% 15%, 51% 18%, 58% 20%, 65% 21%, 74% 20%, 81% 20%, 87% 20%, 89% 26%, 90% 33%, 93% 36%, 97% 39%, 99% 45%, 100% 54%, 99% 62%, 94% 68%, 85% 74%, 76% 80%, 70% 87%, 63% 90%, 57% 90%, 46% 84%, 10% 68%, 5% 64%, 2% 58%, 3% 47%, 4% 38%, 8% 31%, 14% 28%, 17% 22%);
}

.scale-on-hover {
    transition: transform ease 0.5s;
    cursor: pointer;
}

.scale-on-hover:hover {
    transform: scale(1.02);
}
