body{
    height: 100vh;
    margin: 0;
}
.full-w-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #e0c390;
    background: radial-gradient(#376d08 0.8px, #e0c390 0.8px) -10px 0/ 20px 20px, linear-gradient(225deg, #f1d1a7 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #f1d1a755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #f1d1a7 25%, #F5E8D7 25%) 0px 0/ 20px 20px;
}
.table-bg {
    background-image: url(../assets/bg800_1700.png);
    width: 798px;
    height: 1696px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 20px 40px hsl(33deg 79% 15% / 20%);
}

.laptop-wrapper {
    position: absolute;
    top: 550px;
    left: 0px;
}

.laptop {
    width: 100%;    
}

.mic-wrapper {
    position: absolute;
    top: 650px;
    left: 0px;
}

.mic {
    width: 100%;    
}

.badge-wrapper {
    position: absolute;
    top: 750px;
    left: 0px;
}

.badge {
    width: 100%;    
}

.drink-wrapper {
    position: absolute;
    top: 850px;
    left: 0px;
}

.drink {
    width: 100%;    
}

.food-wrapper {
    position: absolute;
    top: 950px;
    left: 0px;
    
}

.food {
    width: 100%;    
}

.note-wrapper {
    position: absolute;
    top: 1050px;
    left: 0px;
}

.note {
    width: 100%;
    
}

.scale-on-hover {
    transition: transform ease 0.5s;
    cursor: pointer;
}

.scale-on-hover:hover {
    transform: scale(1.02);
}
